body {
    background-color: #003152;
  color:white;
   
   
}
h1 {
    text-align: center;
}
.centre-margin {
    width: 70;
   margin: 0;
    text-align: center;

}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logo img {
    width: 300px; /* Adjust the width as needed */
}

.column-right {
    text-align: left;
}
.small-image1 {
    width: 200px;
    height: auto; 
}
.small-image2 {
    width: 200px;
    height: auto;
}
.small-image3 {
    width: 200px;
    height: auto;
}
.small-image4 {
    width: 200px;
    height : auto;
}
.small-image5 {
    width: 200px;
    height : auto;
}
.small-image6 {
    width: 200px;
    height: auto;
}
